    
* {
    margin: 0;
    padding: 0;
}    
/* --- --- Menú --- ---*/
    
    header {
        width: 100%;
    }
    
    nav {
        margin: -10px 750px;
        width: 100%;
        max-width: 100px;
    }

    /* --- --- Quitar puntos --- ---*/
    nav ul {
        list-style: none;
    }

    /* --- --- Configurar menú --- ---*/
    nav > ul {
        display: table;
        overflow: hidden;
        width: 100%;
        background: rgb(255, 255, 255);
        position: relative;
    }

    nav > ul li {
        display: table-cell;
        height: 100%;
    }

    /* --- --- Transición --- ---*/
    
    nav > ul li a {
        color: white;
        display: block;
        line-height: 20px;
        padding: 20px;
        position: relative;
        text-align: center;
        text-decoration: none;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    nav > ul > li > a span {
        background: #030303;
        display: block;
        height: 100%;
        width: 100%;
        left: 0;
        position: absolute;
        top: -130px;
        -webkit-transition: all .5s ease;
        -moz-transition: all .5s ease;
        -ms-transition: all .5s ease;
        -o-transition: all .5s ease;
        transition: all .5s ease;
    }

    nav > ul > li > a span .icon {
        display: block;
        line-height: 60px;
    }

    /* --- --- Cuando se pasa el raton se desplaza --- ---*/
    nav > ul > li > a:hover > span {
        top: 0;
    }


    /* --- --- Imagenes al pasar el raton --- ---*/
    nav ul li a .primero{
        background: black url(img/jordan4.png);
        background-size: 100%;
    }

    nav ul li a .segundo{
        background: black url(img/dunk.png);
        background-size: 100%;
    }

    nav ul li a .tercero{
        background: black url(img/converse.png);
        background-size: 100%;
    }