* {
	padding: 0;
	margin: 0;
}

body {
	background: #F4F4FA;
    font-family: 'Open Sans', sans-serif;
}

header {
	background-color: black;
}

main {
	margin-top: 10px;
	background-color: rgb(167, 164, 164);
}

.bannerpg {
	display: block;
	margin: auto;
}
main .contenedor {
	width: 90%;
	max-width: 1000px;
	margin: auto;
}
/* ---- ----- ----- Pelicula Principal ----- ----- ----- */
.rapero-principal {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(img/paulgeorge.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

.rapero-principal .contenedor {
	margin: 0 auto;
	margin-bottom: 6.25em;
}

.rapero-principal .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.rapero-principal .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}

.rapero-principal .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.rapero-principal .boton:hover {
	background: #fff;
	color: #000;
}

.rapero-principal .boton i {
	margin-right: 1.25em;
}



/* ------------------------- */
/* Estilos CSS del Reproductor */
/* ------------------------- */
.fm-video {
	width: 100%;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,.5);
}

.fm-video .vjs-control-bar {
	background: #F4F4F4;
	color: #2d5f85;
}

.fm-video .vjs-play-progress,
.fm-video .vjs-volume-level {
	background: #1d87d8;
}

.fm-video .vjs-slider {
	background: #2d5f85;
}

.video-js:hover .vjs-big-play-button {
	background: rgba(0,0,0,.2);
}

.fm-video .vjs-big-play-button {
	background: rgba(0,0,0,.2);
	width: 80px;
	height: 80px;
	line-height: 80px;
	border-radius: 100%;
	border:none;
}

.fm-video .vjs-big-play-button:hover {
	background: rgba(0,0,0,.5);
}

article {
	margin: 50px 0;
	background: #fff;
	color: #000;
	font-size: 16px;
	line-height: 28px;
	padding: 40px;
}

article h2 {
	color: #2D5F85;
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	header {
		position: relative;
		height: auto;
	}

	main {
		margin-top: 50px;
	}
}