L SCSS JSResult Skip Results Iframe
body {
  background: #000000;
  padding: 0;
  margin: 0;
  background: url(img/fondo.jpg);
}
main  {
  background-color: #011a18;
  margin-top: 0vh;
  background: url(img/fondo.jpg) ;
  height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
  
  
}

.imagencentrada {
  display: block;
  margin: auto;
  margin-top: 2vh;
  
}





/*--- --- Fuentes --- --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto+Condensed');


/*--- --- Nike x Nocat logo --- --- */
.titulo-nocta {
  margin: 20px auto;
  background: #001514;
  width: 760px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.065);
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
}

/*--- ---  Forma Casillas --- --- */
.contenido {
  margin: 0 auto 20px;
  background: #001514;
  width: 800px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.065);
  display: grid;
  grid-auto-flow: dense;
  position: relative;
}

/*--- --- Color Palabras Especiales --- --- */
.contenido b,
.contenido strong,
.contenido i {
  color: #476c9b;
}

/*--- ---  Encuadrar Contenido Izquierda --- --- */

.contenido__izquierda {
  grid-template-columns: 300px auto;
}

.contenido__izquierda .nocta-sitio {
  border-left: 1px solid rgba(255, 255, 255, 0.065);
}

.contenido__izquierda .estadodeventa {
  bottom: 0;
  right: 0;
}

.contenido__izquierda .estadodeventa .stat:nth-child(2) {
  border-left: none;
  border-right: none;
}

.contenido__izquierda .nocta-sitio .descripccion {
  grid-template-columns: auto 250px;
}

/*--- ---  Texto Arriba Derecha --- --- */

.contenido__izquierda .nocta-sitio .descripccion .texto {
  border-left: 1px solid rgba(255, 255, 255, 0.065);
}

.contenido__izquierda .nocta-sitio .descripccion .desc_last__side .last__post {
  border-left: 1px solid rgba(255, 255, 255, 0.065);
}

/*--- ---  Encuadrar Contenido Derecha --- --- */

.contenido__right {
  grid-template-columns: auto 300px;
}

.contenido__right .nocta-sitio {
  border-right: 1px solid rgba(255, 255, 255, 0.065);
  grid-row: 1;
}

.contenido__right .estadodeventa {
  bottom: 0;
  left: 0;
}

.contenido__right .estadodeventa .stat:nth-child(1) {
  border-left: none;
  border-right: none;
}

.contenido__right .nocta-sitio .descripccion {
  grid-template-columns: 250px auto;
}

.contenido__right .nocta-sitio .descripccion .texto {
  border-right: 1px solid rgba(255, 255, 255, 0.065);
}

.contenido__right .nocta-sitio .descripccion .desc_last__side {
  grid-row: 1;
}

/*--- ---  Ajustar margen en fechas --- --- */
.contenido__right .nocta-sitio .descripccion .desc_last__side .fechas {
  border-right: 1px solid rgba(255, 255, 255, 0.065);
}

/*--- ---  Imágenes --- --- */

.imgdrake .image__side .image {
  background: url('img/drake.jpg');
}

.chaquetaamarilla .image__side .image {
  background: url('img/noctachaqueta.jpg');
}

/*/ GENERAL*/

.contenido .image__side {
  background: #001918;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido .image__side .image {
  width: 225px;
  height: 225px;
  background-size: cover !important;
  background-position: center !important;
  outline: 10px solid rgba(255, 255, 255, 0.065);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido .image__side .image .contenido__titulo {
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  padding: 5px 15px;
  background: #001918;
  transform: skew(35deg);
  text-decoration: none;
}

.contenido .image__side .image .contenido__titulo span {
  display: block;
  transform: skew(-35deg) !important;
}

.contenido .estadodeventa {
  width: 250px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
}

.contenido .estadodeventa .stat {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.555);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  background: #001918;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.065);
  border-bottom: none;
  position: relative;
  transition: all ease .345s;
}

.contenido .estadodeventa .stat i {
  font-size: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.155);
  padding-right: 5px;
  margin-right: 5px;
}

.contenido .nocta-sitio .descripccion {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 249px 250px;
  grid-template-rows: 300px;
}

.contenido .nocta-sitio .descripccion .desc_last__side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 195px 75px;
}

/*--- ---  Texto Abajo Izquierda --- --- */
.contenido .nocta-sitio .descripccion .desc_last__side .texto {
  height: 155px;
  padding: 20px;
  overflow: auto;
  text-align: justify;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
}

/*--- ---  Margen Fechas Abajo Izquierda --- --- */
.contenido .nocta-sitio .descripccion .desc_last__side .fechas {
  width: 210px;
  padding: 0px 20px;
}

.contenido .nocta-sitio .descripccion .desc_last__side .fecha1 {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #476c9b;
  text-transform: uppercase;
  letter-spacing: -1px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contenido .nocta-sitio .descripccion .desc_last__side .fecha2 {
  display: block;
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 10px;
  font-style: italic;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contenido .nocta-sitio .descripccion .contenidos {
  padding: 25px;
}

.contenido .nocta-sitio .descripccion .quoted {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.555);
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
}

.contenido .nocta-sitio .descripccion .contenidos .ropa {
  height: 25px;
  padding: 6px;
  display: block;
  margin-bottom: 6px;
  background: #001918;
  color: rgba(255, 255, 255, 0.555);
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 25px;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  outline-offset: -1px;
  transition: all ease .345s;
}

.contenido .nocta-sitio .descripccion .contenidos .ropa:hover {
  background: transparent;
}