L SCSS JSResult Skip Results Iframe
body {
  background: #000000;
  padding: 0;
  margin: 0;
  background: url(img/fondo.jpg);
}
main  {
  background-color: #011a18;
  margin-top: -3vh;
  background: url(img/fondo.jpg) ;
  
}

/*--- --- Fuentes --- --- */
@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Roboto+Condensed');

.titulo-nocta {
  margin: 20px auto;
  background: #001514;
  width: 760px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.065);
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-style: italic;
}

.contenido {
  margin: 0 auto 20px;
  background: #001514;
  width: 800px;
  height: 300px;
  border: 1px solid rgba(255, 255, 255, 0.065);
  display: grid;
  grid-auto-flow: dense;
  position: relative;
}

.contenido b,
.contenido strong,
.contenido i {
  color: #476c9b;
}

/*/ SUBFORO - IMAGEN A LA IZQUIERDA*/

.contenido__izquierda {
  grid-template-columns: 300px auto;
}

.contenido__izquierda .content__side {
  border-left: 1px solid rgba(255, 255, 255, 0.065);
}

.contenido__izquierda .statistics {
  bottom: 0;
  right: 0;
}

.contenido__izquierda .statistics .stat:nth-child(2) {
  border-left: none;
  border-right: none;
}

.contenido__izquierda .content__side .description {
  grid-template-columns: auto 250px;
}

.contenido__izquierda .content__side .description .text {
  border-left: 1px solid rgba(255, 255, 255, 0.065);
}

.contenido__izquierda .content__side .description .desc_last__side .last__post {
  border-left: 1px solid rgba(255, 255, 255, 0.065);
}

/*/ SUBFORO - IMAGEN A LA DERECHA*/

.contenido__right {
  grid-template-columns: auto 300px;
}

.contenido__right .content__side {
  border-right: 1px solid rgba(255, 255, 255, 0.065);
  grid-row: 1;
}

.contenido__right .statistics {
  bottom: 0;
  left: 0;
}

.contenido__right .statistics .stat:nth-child(1) {
  border-left: none;
  border-right: none;
}

.contenido__right .content__side .description {
  grid-template-columns: 250px auto;
}

.contenido__right .content__side .description .text {
  border-right: 1px solid rgba(255, 255, 255, 0.065);
}

.contenido__right .content__side .description .desc_last__side {
  grid-row: 1;
}

.contenido__right .content__side .description .desc_last__side .last__post {
  border-right: 1px solid rgba(255, 255, 255, 0.065);
}

/*/ SUBFOROS INDIVIDUALES*/

.subfr-1 .image__side .image {
  background: url('img/drake.jpg');
}

.subfr-2 .image__side .image {
  background: url('img/noctachaqueta.jpg');
}

/*/ GENERAL*/

.contenido .image__side {
  background: #001918;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido .image__side .image {
  width: 225px;
  height: 225px;
  background-size: cover !important;
  background-position: center !important;
  outline: 10px solid rgba(255, 255, 255, 0.065);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenido .image__side .image .contenido__titulo {
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-style: italic;
  padding: 5px 15px;
  background: #001918;
  transform: skew(35deg);
  text-decoration: none;
}

.contenido .image__side .image .contenido__titulo span {
  display: block;
  transform: skew(-35deg) !important;
}

.contenido .statistics {
  width: 250px;
  height: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: absolute;
}

.contenido .statistics .stat {
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.555);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  background: #001918;
  padding: 8px;
  border: 1px solid rgba(255, 255, 255, 0.065);
  border-bottom: none;
  position: relative;
  transition: all ease .345s;
}

.contenido .statistics .stat i {
  font-size: 10px;
  border-right: 1px solid rgba(255, 255, 255, 0.155);
  padding-right: 5px;
  margin-right: 5px;
}

.contenido .content__side .description {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 249px 250px;
  grid-template-rows: 300px;
}

.contenido .content__side .description .desc_last__side {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 195px 75px;
}

.contenido .content__side .description .desc_last__side .text {
  height: 155px;
  padding: 20px;
  overflow: auto;
  text-align: justify;
  font-size: 11px;
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
}

.contenido .content__side .description .desc_last__side .last__post {
  width: 210px;
  padding: 0px 20px;
}

.contenido .content__side .description .desc_last__side .fecha1 {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: #476c9b;
  text-transform: uppercase;
  letter-spacing: -1px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contenido .content__side .description .desc_last__side .fecha2 {
  display: block;
  color: rgba(255, 255, 255, 0.555);
  font-family: 'Roboto Condensed', sans-serif;
  text-decoration: none;
  font-size: 10px;
  font-style: italic;
  letter-spacing: 1px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.contenido .content__side .description .contenidos {
  padding: 25px;
}

.contenido .content__side .description .quoted {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto Condensed', sans-serif;
  color: rgba(255, 255, 255, 0.555);
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  font-style: italic;
  letter-spacing: 1px;
}

.contenido .content__side .description .contenidos .ropa {
  height: 25px;
  padding: 6px;
  display: block;
  margin-bottom: 6px;
  background: #001918;
  color: rgba(255, 255, 255, 0.555);
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 9px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  line-height: 25px;
  outline: 1px solid rgba(255, 255, 255, 0.05);
  outline-offset: -1px;
  transition: all ease .345s;
}

.contenido .content__side .description .contenidos .ropa:hover {
  background: transparent;
}