

main {
  margin-left: 80px;
}
main{
  margin-right: 80px;
}
 
main {
  margin-bottom: 80px;
}
h1{
  margin-top: 35px;
}
h1{
  margin-bottom: 35px;
}
h1{
  margin-left: 35px;
}

#1 {
  display: block;
  margin-right: auto;
}