.imagen-jordan-1 {
    font-size: 16px;
    min-height: 40.62em;
    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(img/jordan23.jpg);
    background-position: center center;
    background-size: cover;
    margin-bottom: 3.12em;
    display: flex;
    align-items: end;
}

.imagen-jordan-1 .contenedor {
    margin: 0 auto;
    margin-bottom: 6.25em;
}

.imagen-jordan-1 .titulo {
    font-weight: 600;
    font-size: 3.12em;
    margin-bottom: 0.4em;
    margin-top: 0.5em;
    margin-left: 1em;
}

.imagen-jordan-1 .descripcion {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.75em;
    max-width: 50%;
    margin-bottom: 1.25em;
    margin-left: 2em;
}


  /* ---- ----- ----- Contenedor titulos y controles ----- ----- ----- */
  .contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #fff;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: rgb(0, 0, 0);
	height: 6px;
	width: 20px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: #E50914;
}


/* ---- ----- ----- Contenedor principal y flechas ----- ----- ----- */
.jordan-zapatillas {
	margin-bottom: 70px;
}

.jordan-zapatillas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.jordan-zapatillas .contenedor-principal .flecha-izquierda,
.jordan-zapatillas .contenedor-principal .flecha-derecha {
	position:absolute;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50%- 25%);
	line-height: 40px;
	width: 50px;
	color: white;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

/*que se vea mas las fechas al estar encima*/
.jordan-zapatillas .contenedor-principal .flecha-izquierda:hover,
.jordan-zapatillas .contenedor-principal .flecha-derecha:hover {
	background: rgba(0, 0, 0, .9);
}
.jordan-zapatillas .contenedor-principal .flecha-izquierda {
	left: 0;
}
.jordan-zapatillas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.jordan-zapatillas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.jordan-zapatillas .contenedor-carousel .carousel{
	display: flex;
	flex-wrap: nowrap;
}

.jordan-zapatillas .contenedor-carousel .carousel .jordan {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rga(0,0,0, .3);
}

.jordan-zapatillas .contenedor-carousel .carousel .jordan.hover {
	transform: scale(1.2);
	transform-origin: center;
}
.jordan-zapatillas .contenedor-carousel .carousel .jordan img {
	width: 100%;
	vertical-align: top;
}


/* --- --- Footer --- ---*/

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
  margin: auto;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5;
}
.site-footer hr.small
{
  margin:20px 0;
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px;
  margin-left: 5px;
}
.site-footer a
{
  color:#737373;
  margin-left: 15px;
}
.site-footer a:hover
{
  color:#fca400;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none;
  margin-right: 15px;
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}