.cent {
    display: block;
    margin: auto;
    margin-top: 20px;
}

.imagencentrada {
  display: block;
  margin: auto;
  margin-top: 2vh;
  
}

main {
  height: 100vh;
	padding: 0;
	margin: 0;
	overflow-x: hidden;
}